@import 'config';


@mixin sample-btn($hover-color) {
	width: 163px;
	height: 38px;
	border-radius: 5px;
	user-select: none;

	font-weight: bold;
	font-size: 14px;
	border: none;
	transition: $btn-transition;

	&:hover {
		cursor: pointer;
		background-color:darken($hover-color, 5%);
	}
}

.main-btn {
	background-color: $main-btn-color;
	color: $main-page-color;
	@include sample-btn($main-btn-color);
}

.secondary-btn {
	background-color: $secondary-btn-color;
	color: #B3B3B3;
	@include sample-btn($secondary-btn-color);
}

.sample-input {
	border: 1px solid #DEDEDE;
	box-sizing: border-box;
	border-radius: 7px;
	color: $input-text-color;
	overflow: auto;
	font-weight: 500;
	font-size: 14px;
	padding-left: 10px;
	&:focus {
		border: 1px solid #DEDEDE;
	}
}

::-webkit-scrollbar-button {
	width:6px;
	height:0px
	}
	
::-webkit-scrollbar-track {
background-color:transparent;
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 5px;
border-radius: 5px;
background-color:$secondary-text-color;
}

::-webkit-resizer{
width:5px;
height:0px
}

::-webkit-scrollbar{
width: 5px;
}