@import '../../../styles/config';

.ColorPalette {
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	margin-left: 25px;
	.color {
		width: 32px;
		height: 32px;
		margin: 5px;
		border-radius:7px;
		box-shadow:$sample-box-shadow;
		transition:0.2s linear;
		cursor: pointer;
		&:hover {
			border-radius:60px;
		}
	}
}