@import './styles/classes';
@import './styles/config';

* {
	font-family: $font;
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

a {
	text-decoration: none;
	color:#545454;
}

input, button, textarea {
	outline: none;
	border:none;
	&:focus{
		border:none;
		outline:none;
	}
}
